[Desktop Entry]
Type=Link
URL=https://securityhacklabs.net/forum/distribuciones-gnulinux/general/2018-07-13/como-poner-wps-en-espanol-tras-actualizacion-en-manjaro-o-deribadas-de-arch