[Desktop Entry]
Type=Link
URL=https://productforums.google.com/forum/#!topic/adsense/t0o4q613ccQ;context-place=topicsearchin/adsense/category$3Apartner-sites-eg-youtube%7Csort:relevance%7Cspell:false