[Desktop Entry]
Type=Link
URL=http://ubuntuhandbook.org/index.php/2017/03/sigil-0-9-8-released-install-via-ppa-in-ubuntu/#comment-3664924
Name[es_ES]=Sigil 0.9.8 Released How to Install it via PPA in Ubuntu _ UbuntuHandbook.desktop
