[Desktop Entry]
Type=Link
URL=http://leicesterontheweb.com/questions/7850/comment-creer-des-vignettes-previsualiser-doc-docx-odt-et-autres-fichiers-document-dans-dolphin