[Desktop Entry]
Icon=text-plain
Name=Gracia Sublime es - Evan Craft - letra.txt
Type=Link
URL[$e]=file://$HOME/Dropbox/Musica/Guitarra-acordes-Iglesia/Evan%20Craft/Gracia%20Sublime%20es%20-%20Evan%20Craft%20-%20letra.txt
X-KDE-LastOpenedWith=pluma
