[Desktop Entry]
Icon=text-plain
Name=Jaime Murriel - Te pido la paz.txt
Type=Link
URL[$e]=file://$HOME/Dropbox/Musica/01-Acordes%20d%20canciones(2008)/Jaime%20Murriel/Jaime%20Murriel%20-%20Te%20pido%20la%20paz.txt
X-KDE-LastOpenedWith=pluma
