[Desktop Entry]
Icon=image-png
Name=20170924 me faltó tomar en cuenta este valor 12,50 para el 15 y 5.png
Type=Link
URL[$e]=file://$HOME/Dropbox/IGLESIA/TESORERIA/Inf.%20Tesorer%C3%ADa/20170924%20me%20falt%C3%B3%20tomar%20en%20cuenta%20este%20valor%2012,50%20para%20el%2015%20y%205.png
X-KDE-LastOpenedWith=shutter
