[Desktop Entry]
Icon=text-plain
Name=Al estar aquí.txt
Type=Link
URL[$e]=file://$HOME/Dropbox/Musica/01-Acordes%20d%20canciones(2008)/Danilo%20Montero/Al%20estar%20aqu%C3%AD.txt
X-KDE-LastOpenedWith=pluma
