[Desktop Entry]
Icon=application-wps-office.doc
Name=Al estar aquí - Danilo Montero.doc
Type=Link
URL[$e]=file://$HOME/Dropbox/Musica/01-Acordes%20d%20canciones(2008)/Danilo%20Montero/Al%20estar%20aqu%C3%AD%20-%20Danilo%20Montero.doc
X-KDE-LastOpenedWith=wps-office-wps
