[Desktop Entry]
Icon=text-plain
Name=De qué sacar respaldos antes de formatear.txt
Type=Link
URL[$e]=file://$HOME/Dropbox/UbuntuManuales/RESPALDOS/De%20qu%C3%A9%20sacar%20respaldos%20antes%20de%20formatear.txt
X-KDE-LastOpenedWith=pluma
