[Desktop Entry]
Icon=text-plain
Name=Te pido la paz - Jaime Murrel - letra.txt
Type=Link
URL[$e]=file://$HOME/Dropbox/Musica/Guitarra-acordes-Iglesia/Jaime%20Murrel/Te%20pido%20la%20paz%20-%20Jaime%20Murrel%20-%20letra.txt
X-KDE-LastOpenedWith=pluma
