[Desktop Entry]
Type=Link
URL=https://www.autoformaciontl.online/index.php/calendario/en-linea/22-compartir-archivos-de-manera-segura-y-autonoma?fbclid=IwAR3XJiuxe9geiSq3FrI-elxBTnGHEaASQ0AmkvWYMM8IfvmZ5kmTwxPC0N0