[Desktop Entry]
Type=Link
URL=https://www.taringa.net/posts/linux/15485873/Activa-Wi-fi-en-tu-Notebook-Dell-Inspiron-Ubuntu-12-10.html
Name[es_ES]=Activa Wi-fi en tu Notebook Dell Inspiron Ubuntu 12.10 - Taringa.desktop
