[Desktop Entry]
Type=Link
URL=https://shravanthimohan.wordpress.com/2014/07/16/enable-wifi-in-dell-vostro-14-3000-series-with-ubuntu-14-04-lts/
Name[es_ES]=Enable Wifi in Dell Vostro 14 3000 Series with Ubuntu 14.04 LTS.desktop
