Package: unoconv
Version: 0.7-1.1
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: Vincent Bernat <bernat@debian.org>
Installed-Size: 324
Depends: python3, python3-uno (>= 4.0)
Recommends: libreoffice-writer, libreoffice-draw, libreoffice-calc, libreoffice-impress
Conflicts: odt2txt (<= 0.3-1)
Section: text
Priority: extra
Homepage: http://dag.wieers.com/home-made/unoconv/
Description: converter between LibreOffice document formats
 This package provides a commandline utility which can convert from
 any document format that LibreOffice can import to any document format
 it can export. It uses LibreOffice's UNO bindings for non-interactive
 conversion of documents.
 .
 Supported document formats include Open Document format, MS Word, MS
 Office Open/MS OOXML, PDF, HTML, XHTML, RTF, DocBook, and more.
