[Desktop Entry]
Type=Link
URL=http://ppa.launchpad.net/nilarimogard/webupd8/ubuntu/pool/main/y/youtube-dlg/
Name[es_EC]=Index of -nilarimogard-webupd8-ubuntu-pool-main-y-youtube-dlg.txt
